<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head')%>
<body>
   
    <%- include('../partials/header')%>
    <div class="banner">
            <img src="/img/Banner iphone Web.jpg" alt="">
        </div>

     <main class="main-first">
        <div>
            <img src="/img/huawei/HUAWEI HUAWEI Y7/" alt="">
            <img src="/img/mobile-devices-hd.png" class="imagen-main" alt="imagen" height="100px">
        </div>
    </main>

    <h3 class="product">Productos Destacados</h3>

    <main class="main-second">
        <% visited.forEach(products =>{ %>
            <% if(products.type == "nuevo"){ %>  
            <section class="product-box">
                <a href="/products/detail/<%=products.id%>">
                    <figure class="product-box_image">
                        <img src="/img/<%products.marca%>/<% products.name%>/<%=products.image%> " alt="imagen de producto">
                    </figure>
                    <article class="product-box_data">
                        <h2><%=products.price%></h2>
                        <span>D<%=products.discount %></span>
                        <p><%=products.name%></p>
                        <i class="fas fa-truck"></i>
                    </article>
                </a>
            </section>
            <% } %> 
            <% }) %> 
        <!-- <div class="main-second-div">
            <a href="/product/detail"><img src="/img/galaxy fold 3.webp" class="no-disponible"></a>
            <h2>Precio</h2>
        </div>
        <div class="main-second-div">
            <img src="/img/motorola/MOTOROLA ONE ACTION/One Action_Blue_Front_800.png" class="no-disponible">
            <h2>Precio</h2>
        </div>
        <div class="main-second-div">
            <img src="/img/samsung/SAMSUNG GALAXY S10E/S10e_Black_Front_800.png" class="no-disponible">
            <h2>Precio</h2>
        </div>
        <div class="main-second-div">
            <img src="/img/iphone/IPHONE X 64 GB/iPhone X_White_Front_800.png" class="no-disponible">
            <h2>Precio</h2>
        </div>
        <div class="main-second-div">
            <img src="/img/iphone/IPHONE 8/iPhone 8_Black_Front_800.png" class="no-disponible">
            <h2>Precio</h2>
        </div> -->
    </main>
    <footer>

    </footer>
</body>
</html>