<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head')%>
<body>
   
    <%- include('../partials/header')%>
    <div class="banner">
            <img src="/img/Banner iphone Web.jpg" alt="">
        </div>

     <main class="main-first">
        <div>
            <a href="/products/productsList"><img src="/img/mobile-devices-hd.png" class="imagen-main" alt="imagen" height="100px"></a>
            <p>LISTA DE PRODUCTOS</p>
        </div>

    </main>

    <h3 class="product">Productos Destacados</h3>

    <main class="main-second">
        <% products.forEach(products =>{ %>
            <% if(products.mark == "Samsung"){ %> 
            <section class="product-box">
                <a href="/products/detail/<%=products.id%>">
                    <figure class="product-box_image">
                        <img src="/img/baseDeDatos/<%=products.image%> "  width="150px" height="305 px">
                    </figure>
                    <article class="product-box_data">
                        <h2><%=products.price%></h2>
                        <span>Descuento del <%=products.discount %></span>
                        <p><%=products.model%></p>
                        <i class="fas fa-truck"></i>
                    </article>
                </a>
               
        </section>
            <% } %> 
        <% }) %> 
        
    </main>
<br>
<br>
    <h3 class="product">Nuestra linea Apple</h3>

    <main class="main-second">
        <% products.forEach(products =>{ %>
            <% if(products.mark == "Apple"){ %> 
            <section class="product-box">
                <a href="/products/detail/<%=products.id%>">
                    <figure class="product-box_image">
                        <img src="/img/baseDeDatos/<%=products.image%> "  width="150px" height="305 px">
                    </figure>
                    <article class="product-box_data">
                        <h2><%=products.price%></h2>
                        <span>Descuento del <%=products.discount %></span>
                        <p><%=products.model%></p>
                        <i class="fas fa-truck"></i>
                    </article>
                </a>
               
        </section>
            <% } %> 
        <% }) %> 
        
    </main>


    
    <%- include ('../partials/footer')%>
</body>
</html>