<!DOCTYPE html>
<html lang="es">
    <%- include('../partials/head')%>
<body>
    <form action="/user/formularioRegistro"  method="POST" id="form"> 
        <div class="form">
            <h1 class="registro">Registro</h1>

            <div class="grupo">
                <input type= "text" id="name" name=""  value="<%= locals.old && old.first_name ? old.first_name : "" %>" required><span class="barra"></span>
                <label for= "">Nombre</label>
                <div><%if(locals.errors && errors.first_name) { %>
                <p class="errorEpress"><%= errors.first_name.msg %></p> <% } %>
            </div></div>
            <div class="grupo">
                <input type= "apellido" id="surname" name="" value="<%= locals.old && old.first_name ? old.first_name : ""  %>" ><span class="barra"></span>
                <label for= "">Apellido</label>
                <div><%if(locals.errors && errors.first_name) { %>
                <p class="errorEpress"><%= errors.first_name.msg %></p><% } %>  
            </div></div>
            <div class="grupo">
                <input type= "nombreUsuario" id="user-name" name="" value="<%= locals.old && old.user_name ? old.user_name : ""  %>" ><span class="barra"></span>
                <label for= "">Nombre de Usuario</label>
                <div><%if(locals.errors && errors.user_name) { %>
                    <p class="errorEpress"><%= errors.user_name.msg %> </p><% } %>
            </div></div>
            <div class="grupo">
                <input type= "email" id="email" name="" value="<%= locals.old && old.last_name ? old.last_name : ""  %>" ><span class="barra"></span>
                <label for= "">Email</label>
                <div><%if(locals.errors && errors.last_name) { %>
                    <p class="errorEpress"><%= errors.last_name.msg %> </p><% } %> 
            </div></div>
            <div class="grupo-seleccionar">
                <h4 class="cell">Elegí tu foto de perfil</h4> <br>
                <input type= "file" name="avatar" class="imagen-perfil">
                <div><%if(locals.errors && errors.avatar) { %>
                <p class="errorEpress"><%= errors.avatar.msg %> </p><% } %>
            </div></div>
            <div class="grupo-seleccionar">
                <h4 class="cell"> Tipo de usuario</h4> <br>
                <select name="user_category" >
                <option selected="true" disabled="disabled">seleccione una categoria</option>
                <% for (let i = 0; i < categoria.length; i++){ %> 
                <option value="<%= categoria[i].id %> "><%= categoria[i].name %></option><% } %> 
                </select>
                <div><%if(locals.errors && errors.user_category) { %>
                <p class="errorEpress"><%= errors.user_category.msg %> </p><% } %>
            </div></div>
            <div class="grupo">
                <input type= "password" id="password" name=""><span class="barra"></span>
                <label for= "">Password</label>
                <div><%if(locals.errors && errors.password) { %>
                <p class="errorEpress"><%= errors.password.msg %> </p><% } %>
            </div></div>

            <button type="submit">Suscribirte</button>
            <p class="warnings"id="warnings"></p>
        </div>
    </form>
        <script src="/js/formularioRegistro.js" type="text/javascript"></script>
</body>
</html>