<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head')%>
<body>
    <%- include('../partials/header')%>
        
    <main class = "register">
        <h3 class="text-color">Registrate!</h3>

                    <%if(locals.errors) { %>
             <%errors.forEach(error =>{%>
                
                <p><h1><%= error.msg %></h1> </p>

            <% })} %>  

        <form action= "/user/formularioRegistro" method="POST"  class= "registerTotal">
            <div>
                <label for="first_name" class="field">Nombre</label>
                <br>
                <input type= "text" name="first_name"  placeholder= "Nombre" value="<%= locals.old && old.first_name ? old.first_name : ""  %>" class="nombre-registro">
                <br>
                <label for="last_name"class="field">Apellido</label>
                <br>
                <input type= "text" name="last_name"  placeholder= "Apellido" value="<%= locals.old && old.last_name ? old.last_name : ""  %>" class="nombre-registro">
                <br>
                <label for="email" class="field">Email</label>
                <br>
                <input type= "text" name="email"   placeholder= "Email" value="<%= locals.old && old.email ? old.email : ""  %>"  class="nombre-registro">
                <br>
                <label for="username" class="field"> Nombre de usuario</label>
                <br>
                <input type="text" name="username"   placeholder= "Nombre de usuario" value="<%= locals.old && old.username ? old.username : ""  %>" class="nombre-registro">
                 <br>
                <br>
            
           
        <h4 class="text-color imagen-perfil">Elegí tu foto de perfil</h4>
        <input type= "file" name="avatar" class="imagen-perfil">
            <br>
            <br>
        <input type= "password" name="pass" placeholder="Elegí tu contraseña" minlength="6" id="password" class="pass-registro">
        <input type= "password" name="pass_confirm" placeholder="Confirma tu contraseña" id="pass_confirm" class="pass-registro">
            <br>
            <br>
        <div>
            <button class="button-enviar" name= "button"><span><i class="fa fa-share-square-o" aria-hidden="true"></i> ENVIAR</span></button> 
            <button class="button-borrar" name= "button"><span><i class="fa fa-trash-o" aria-hidden="true"></i> BORRAR</span></button>
        </div> 
            <br>
            <br>
        </form>
    </main>
    <%- include ('../partials/footer')%>
    
</body>
</html>