<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head')%>
<body class="register-body">
    <!-- <%- include('../partials/header')%> -->
    <a href="/"><img src="/img/logo/logo_small_icon_only.jpg " class= avatar-register width="50%"></a>
       <h3 class="cell"> CELL NOW</H3>
    <main class = "register">
        <h3 class="cell">Registrate!</h3>

      

        <form action= "/user/formularioRegistro" method="POST" enctype="multipart/form-data"  >
            <div class= "registerTotal">
                <!-- <label for="first_name" class="field">Nombre</label> -->
                <br>
                <input type= "text" name="first_name" placeholder= "Nombre" value="<%= locals.old && old.first_name ? old.first_name : "" %>" class="nombre-registro">
                <div class="errorEpress">
                <%if(locals.errors && errors.first_name) { %>
                       <p class="errorEpress"><%= errors.first_name.msg %></p>
                   <% } %>  
                </div>
                <br>
                <!-- <label for="last_name"class="field">Apellido</label> -->
                <br>
                <input type= "text" name="last_name"  placeholder= "Apellido" value="<%= locals.old && old.last_name ? old.last_name : ""  %>" class="nombre-registro">
                <div><%if(locals.errors && errors.last_name) { %>
                    <p class="errorEpress"><%= errors.last_name.msg %> </p>
                <% } %>
                </div>
                <br>
                <!-- <label for="email" class="field">Email</label> -->
                <br>
                <input type= "text" name="email"  placeholder= "Email" value="<%= locals.old && old.email ? old.email : ""  %>"  class="nombre-registro">
                <div><%if(locals.errors && errors.email) { %>
                    <p class="errorEpress"><%= errors.email.msg %> </p>
                <% } %>
                </div>
                <br>
                <!-- <label for="username" class="field"> Nombre de usuario</label> -->
                <br>
                <input type="text" name="username"   placeholder= "Nombre de usuario" value="<%= locals.old && old.username ? old.username : ""  %>" class="nombre-registro">
                <div><%if(locals.errors && errors.username) { %>
                    <p class="errorEpress"><%= errors.username.msg %> </p>
                <% } %>
                </div>
                <br>
                <br>
            
           
        <h4 class="cell">Elegí tu foto de perfil</h4>
        <input type= "file" name="avatar" class="imagen-perfil">
        <div><%if(locals.errors && errors.avatar) { %>
            <p class="errorEpress"><%= errors.avatar.msg %> </p>
        <% } %>
        </div>
            <br>
            <br>
            <!-- <label for="password" class="field"> Contraseña</label> -->
            <br>
            <input type= "password" name="pass" placeholder="Elegí tu contraseña" minlength="6" id="password" class="pass-registro">
            <br>
            <div><%if(locals.errors && errors.pass) { %>
                <p class="errorEpress"><%= errors.pass.msg %> </p>
            <% } %>
            </div>
            <!-- <label for="password" class="field"> confimacion de contraseña</label> -->
            <br>
            <input type= "password" name="passConfirm" placeholder="Confirma tu contraseña" id="pass_confirm" class="pass-registro">
            <div><%if(locals.errors && errors.passConfirm) { %>
                <p class="errorEpress"><%= errors.passConfirm.msg %> </p>
            <% } %>
            </div>
            <br>
            <br>
            </div>
        </form>
        <div>
            <!-- <button class="button-enviar" name= "button"><span><i class="fa fa-share-square-o" aria-hidden="true"></i> ENVIAR</span></button> 
            <button class="button-borrar" name= "button"><span><i class="fa fa-trash-o" aria-hidden="true"></i> BORRAR</span></button> -->
            <button class="button-login" type="submit"><i class="fa fa-share-square-o" aria-hidden="true"></i>Suscribirte</button>
        </div> 
            <br>
            <br>
        
    </main>
    <%- include ('../partials/footer')%>
    
</body>
</html>