<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head')%>

<body>
    <%- include('../partials/header')%>

    <main class="main-comprar">

        <article class="article-comprar">
            <div class="producto-comprar">
                
            </div>
            <div class="descripcion-producto-comprar">
                <h3>NOMBRE :<%=usuario.first_name%> </h3>

                <br>
                <h3 class="texto-comprar">APELLIDO: <%=usuario.last_name%> </h3>
                <br>
                <h3 class="texto-comprar"> USUARIO: <%=usuario.user_name%></h3>
                <br>
                <h3 class="texto-comprar"> CATEGORIA: <%=usuario.user_category%></h3>
                <br>
                <h3 class="texto-comprar"> EMAIL: <%=usuario.email%></h3>
                <br>
                <br>
                <img src="/img/avatars/<%= usuario.avatar %> " alt="">
                <br>
                    
    </main>
    <%- include ('../partials/footer')%>
</body>

</html>