<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head')%>

    <body>

		<%- include('../partials/header')%>
    <div >
		<div >
			<div >
				<h2>Hi <%= users.firstName + " "+ users.lastName %> </h2>

				

				
				<img src="/img/avatars/<%= users.avatar %> ">
				<br>
				<br>
				<div ><%= users.email %> </div>
				<br>
				<br>
				<div ><%= users.usercategory %> </div>
			</div>
		</div>
	</div>
</body>
</html>

