<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head')%>


<body>
    
    <main class="body-register" >

    <a href="/"><img src="/img/logo/logo_small_icon_only.png " class= avatar-Userregister width="50%"></a>
        
        <form action="" method="POST" enctype="multipart/form-data" id="form" class="caja-registro">
            

            <div class="formEditUser">
                <h1 class="registro">EDITÁ TU USUARIO</h1>
               
                <br>
                <input type="text" name="first_name" id="name"
                 value = "<%= unUser.firstName %> "
                  class="nombre-registro">
                <br>
                <br>
                <input type="text" name="last_name" id="surname"
                 value = "<%= unUser.lastName %> "
                  class="nombre-registro">
                <br>
                <br>
                <input type="text" name="user_name" id="user-name" 
                 value = "<%= unUser.userName %> "
                  class="nombre-registro">
                <br>
                <br>
                <h4 class="cell">Elegí tu foto de perfil</h4>
                <input type="file" name="avatar" class="imagen-perfil" id="image">
                <br>
                <% if(locals.userLogged.usercategoryId === 6) {%>
                <div>
                    <select name="user_category"class="nombre-registro" >
                        <option value="0">selecciona una categoria</option>
                        <% for (let i = 0; i < unaCat.length; i++){ %> 
                        <option value="<%= unaCat[i].id %> ">
                            <%= unaCat[i].name %> 
                        </option>
                        <% } %> 
                    </select>
                </div>
                <% } %> 
                <br>
                <label for="">Password</label>
                <br>
                <input type="password" name="password" class="nombre-registro" id="password">
                    <span class="barra-register"></span>
                    

                <button class="button-register">actualziar</button>
                <!-- <a href='/'> <button class="button-enviar" name= "button" ><span><i class="fas fa-cash-register"aria-hidden="true"></i> CANCELAR </span></button>  -->
                    <input type="button" value="Página anterior" button class="button-enviar" name= "button" onClick="history.go(-1);">
                <p class="warnings" id="warnings"></p>
             
            </div>
            <script src="/js/userEdit.js" type="text/javascript"></script>
        </form>
        
        
    </main>
</body>

</html>