<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head')%>

<body>
    <%- include('../partials/header')%>

    <main class="main-comprar">

        <article class="article-comprar">
            <div class="producto-comprar">
                <img src="/img/products/<%= unProduct.image %> " alt="imagen de producto" width="150px" height="305 px">
            </div>
            <div class="descripcion-producto-comprar">
                <h2><%=unProduct.Mark.name%> </h2>
                <br>
                <h3 class="texto-comprar"><%=unProduct.model%> </h3>
                <br>
                <h3 class="texto-comprar"> <%=unProduct.price%> </h3>
                <br>
                <ul>
                    <br>
                    <li><%=unProduct.discount%> </li>
                    <div class="caracteristicas">
                        <br>
                        <i class="fas fa-percent " style="color:darkblue;"></i>
                        <li> en 9x $7.777,67 sin interés</li>
                    </div>
                    <article class="main-div-login button-comprar">
                        <!-- <button class="button" name="button"><span><i class="fa fa-shopping-cart" aria-hidden="true" style="color: white;"></i> AGREGAR AL CARRITO</span></button> -->
                        <% if(locals.isLogged) {%> 

                            <a href= "/products/confirmVenta/<%= unProduct.id %> "><button class="button-enviar" name="button"><span><i class="fa fa-shopping-bag" aria-hidden="true"></i> COMPRAR</span></button></a>
                        </article>
                        <article class="main-div-login button-comprar">
                        
                            <br>
                            <a href="/products/productEdit/<%=unProduct.id%>"><button class="button-editar" name="button"><span><i class="fa fa-pencil-square" aria-hidden="true"></i> EDITAR PRODUCTO</span></button></a>
                            
                            <form action="/products/<%=unProduct.id%>?_method=delete " method="POST" style="display: inline-flex">
    
                                <button type="submit" class="button-borrar"><span><i class="fa fa-trash-o" aria-hidden="true"></i> ELIMINAR PRODUCTO</button>
    
                            </form> 
                            
                               <% } else { %> 
                        
                                <h2>registrate para realizar tus compras</h2>
                                
                        
                                 <% } %> 
                           
                 
                        <!-- <button class="button" name="button"><span> ELIMINAR PRODUCTO</span></button> -->
                    </article>
                    <br>
                    <main>
                        <h4>Formas de pago</h4>
                        <div class="caracteristicas">
                            <i class="fab fa-cc-visa" style="color:darkblue;"></i>
                            <li>Tarjetas de crédito</li>
                        </div>
                        <br>
                        <div class="caracteristicas">
                            <i class="fas fa-money-bill-wave" style="color:darkblue;"></i>
                            <li>Efectivo</li>
                        </div>
                    </main>
                    <main>
                        <h4>Especificaciones técnicas</h4>
                        <div class="caracteristicas">
                            <i class="fas fa-mobile" style="color:darkblue;"></i>
                            <br>
                            <li> Cámara frontal principal: <%=unProduct.camera%></li>
                        </div>
                        <div class="caracteristicas">
                            <i class="fas fa-fingerprint" style="color:darkblue;"></i>
                            <br>
                            <li> Desbloqueo: <%= unProduct.unlocking %> </li>
                        </div>
                        <div class="caracteristicas">
                            <i class="fas fa-sd-card" style="color:darkblue;"></i>
                            <br>
                            <li>Memoria interna:<%=unProduct.memory%></li>
                        </div>
                        <div>
                            <div class="caracteristicas">
                                <i class="far fa-window-maximize" style="color:darkblue;"></i>
                                <li> Tamaño de la pantalla: <%=unProduct.screen%> </li>
                            </div>
                        </div>
                    </main>
                    <br>
                    <h4><%=unProduct.description%></h4>
                </ul>
            </div>
        </article>
    </main>
    <h3 class="product">Productos similares</h3>

    <main class="main-second">

        <div class="main-second-div">
            <img src="/img/galaxy fold 3.webp" class="no-disponible">
            <h2>Precio</h2>
        </div>
        <div class="main-second-div">
            <img src="/img/imagen no disponible.png" class="no-disponible">
            <h2>Precio</h2>
        </div>
        <div class="main-second-div">
            <img src="/img/imagen no disponible.png" class="no-disponible">
            <h2>Precio</h2>
        </div>
        <div class="main-second-div">
            <img src="/img/imagen no disponible.png" class="no-disponible">
            <h2>Precio</h2>
        </div>
        <div class="main-second-div">
            <img src="/img/imagen no disponible.png" class="no-disponible">
            <h2>Precio</h2>
        </div>
    </main>
    <%- include ('../partials/footer')%>
</body>

</html>