<!DOCTYPE html>
<html lang="en">
    <link rel="stylesheet" href="css/swiper.min.css"/>
<%- include('../partials/head')%>

<body>
    <%- include('../partials/header')%>

    <main class="main-comprar">

        <article class="article-comprar">
            <div class="producto-comprar">
                <img src="/img/products/<%= unProduct.image %> " alt="imagen de producto" width="150px" height="305 px">
            </div>
            <div class="descripcion-producto-comprar">
                <h2><%=unProduct.Mark.name%> </h2>
                <br>
                <h3 class="texto-comprar"><%=unProduct.model%> </h3>
                <br>
                <h3 class="texto-comprar"> <%=unProduct.price%> </h3>
                <br>
                <ul>
                    <br>
                    <li><%=unProduct.discount%> </li>
                    <div class="caracteristicas">
                        <br>
                        <i class="fas fa-percent " style="color:darkblue;"></i>
                        <li> en 9x $7.777,67 sin interés</li>
                    </div>
                    <article class="main-div-login button-comprar">
                        <!-- <button class="button" name="button"><span><i class="fa fa-shopping-cart" aria-hidden="true" style="color: white;"></i> AGREGAR AL CARRITO</span></button> -->
                        <% if(locals.userLogged) {%> 

                            <a href= "/views/products/confirmVenta/<%= unProduct.id %> "><button class="button-enviar" 
                                name="button"><span><i class="fa fa-shopping-bag" aria-hidden="true">
                                </i> COMPRAR</span></button>
                            </a>
                        </article>

                            <% if(locals.userLogged.usercategoryId === 6) {%>
                                                        
                                <article class="main-div-login button-comprar">
                                    <br>
                                    <a href="/views/products/productEdit/<%=unProduct.id%>"><button class="button-editar" 
                                        name="button"><span><i class="fa fa-pencil-square" aria-hidden="true">
                                        </i> EDITAR PRODUCTO</span></button>
                                    </a>
                                    
                                    
                                    <a href="/views/products/productDelete/<%= unProduct.id %>"><button type="submit"
                                        class="button-borrar"><span><i class="fa fa-trash-o" aria-hidden="true">
                                        </i> ELIMINAR PRODUCTO</button>
                                    </a>
                                </article>
                                
                            <% } %> 
                            
                        <% } else { %> 
                            <div>
                            <h2>ingresa para poder realziar la compra </h2>
                            <br>
                            <h3><a href="/views/user/login"><i class="logueate-usuraio">   ingresar   </i></a></h3>
                            <h3><a href="/views/user/formularioRegistro"><i class="registrate-usuraio">   Registrate   </i></a></h3>
                        </div>
                        <% } %>    
                    </article>
                    <br>
                    <main class="formasDePago">
                        <h4>Formas de pago</h4>
                        <br>
                        <div class="caracteristicas">
                            <i class="fab fa-cc-visa" style="color:darkblue;"></i>
                            <li>Tarjetas de crédito</li>
                        </div>
                        <br>
                        <div class="caracteristicas">
                            <i class="fas fa-money-bill-wave" style="color:darkblue;"></i>
                            <li>Efectivo</li>
                        </div>
                    </main>
                    <main class="especificacionesTecnicas">
                        <h4>Especificaciones técnicas</h4>
                        <br>
                        <div class="caracteristicas">
                            <i class="fas fa-mobile" style="color:darkblue;"></i>
                            <br>
                            <li > Cámara frontal principal: <%=unProduct.camera%></li>
                        </div>
                        <div class="caracteristicas">
                            <i class="fas fa-fingerprint" style="color:darkblue;"></i>
                            <br>
                            <li> Desbloqueo: <%= unProduct.unlocking %> </li>
                        </div>
                        <div class="caracteristicas">
                            <i class="fas fa-sd-card" style="color:darkblue;"></i>
                            <br>
                            <li>Memoria interna:<%=unProduct.memory%></li>
                        </div>
                        <div>
                            <div class="caracteristicas">
                                <i class="far fa-window-maximize" style="color:darkblue;"></i>
                                <li> Tamaño de la pantalla: <%=unProduct.screen%> </li>
                            </div>
                            <br>
                        
                            <h4><%=unProduct.description%></h4>
                        </div>
                    </main>
                    <br>
                    
                </ul>
            </div>
        </article>
    </main>
    <h3 class="product">Productos similares</h3>

    <!-- CARRUSEL-->

    <!-- swiper slide -->
<section class="section-box">
    <div class="swiper-container">
        <div class="swiper-wrapper">
    
    <!-- slide 1-->
        <div class="slider-box">
            <p class= "time">New</p>
            <div class= "img-box">
            <img src="/img/404-error-page-not-found.webp">
        </div>
        <p class= "detail">Celulares> </p>
        <a href="#" class="price">Price $100000</a>
        </p>
        <div class="cart">
        <a href="#">Add to the cart </a> </div>
        </div>
        <!-- slide 2-->
        <div class="slider-box">
            <p class= "time">New</p>
            <div class= "img-box">
            <img src="/img/404-error-page-not-found.webp">
        </div>
        <p class= "detail">Celulares> </p>
        <a href="#" class="price">Price $100000</a>
        </p>
        <div class="cart">
        <a href="#">Add to the cart </a> </div>
        </div>
          <!-- slide 3-->
          <div class="slider-box">
            <p class= "time">New</p>
            <div class= "img-box">
            <img src="/img/404-error-page-not-found.webp">
        </div>
        <p class= "detail">Celulares> </p>
        <a href="#" class="price">Price $100000</a>
        </p>
        <div class="cart">
        <a href="#">Add to the cart </a> </div>
        </div>
        <!-- slide 4-->
        <div class="slider-box">
            <p class= "time">New</p>
            <div class= "img-box">
            <img src="/img/404-error-page-not-found.webp">
        </div>
        <p class= "detail">Celulares> </p>
        <a href="#" class="price">Price $100000</a>
        </p>
        <div class="cart">
        <a href="#">Add to the cart </a> </div>
        </div>

<!-- swiper slide end -->
</div></div></section>

<script type="text/javascript" src="js/swiper.js"></script>
<script src="js/script.js"></script>






    <!-- <main class="main-second">
    <div class="slideshow-container-detail"> 

    <div class="mySlides fade">
    <div class="no-disponible">
            <img src="/img/galaxy fold 3.webp" class="no-disponible">
            <h2>Precio</h2>
    <div>
            <img src="/img/imagen no disponible.png" class="no-disponible">
            <h2>Precio</h2>
    </div>
    <div>
            <img src="/img/imagen no disponible.png" class="no-disponible">
            <h2>Precio</h2>
    </div>
    <div>
            <img src="/img/imagen no disponible.png" class="no-disponible">
            <h2>Precio</h2>
    </div>
    <div>
            <img src="/img/imagen no disponible.png" class="no-disponible">
            <h2>Precio</h2>
    </div>
    </div></div>
    <div class="slideshow-container-detail">
    <div class="mySlides fade">
        <img src="/img/galaxy fold 3.webp" class="no-disponible">
        <h2>Precio</h2>
    <div>
        <img src="/img/imagen no disponible.png" class="no-disponible">
        <h2>Precio</h2>
    </div>
    <div>
        <img src="/img/imagen no disponible.png" class="no-disponible">
        <h2>Precio</h2>
    </div>
    <div>
        <img src="/img/imagen no disponible.png" class="no-disponible">
        <h2>Precio</h2>
    </div>
    <div>
        <img src="/img/imagen no disponible.png" class="no-disponible">
        <h2>Precio</h2>
    </div></div>
    </div>
    <br>
          
        </main></div> -->

</section>





    </div>
    </main>
    <%- include ('../partials/footer')%>
</body>

</html>