<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head')%>
    <body>
    
        <%- include('../partials/header')%>
       
            
       
        <form action="" method="POST" enctype="multipart/form-data" class= "registerTotal">
            <div class="text-color">
               
               
                <h4 lass="text-color"> Marca </h4>
                <div>
                    <select name="mark"class="nombre-registro">
                        <option value="0">selecciona una marca</option>
                        <% for (let i = 0; i < mark.length; i++){ %> 
                        <option value="<%= mark[i].id %> ">
                            <%= mark[i].name %> 
                        </option>
                        <% } %> 
                    </select>
                </div>
                <br>
                <br>
                <label for="model" class="text-color"> modelo  </label>
                <br>
                <input type="text" name="model"  value="<%= unProduct.model %>"  class="nombre-registro">
                <br>
                <br>                
                <label for="price" class="text-color"> precio del producto  </label>
               <br>
                <input type="text" name="price"  value="<%= unProduct.price %>" class="nombre-registro" >
                <br>
                <br> 
                <label for="discount" class="text-color"> descuento del producto  </label>
                <br>
                 <input type="text" name="discount"  value="<%= unProduct.discount %>" class="nombre-registro" >
                 <br>
                 <br> 
                <label for="description" class="text-color">Descripcion</label>             
                <br>
                <input type="textarea" name="description"   value="<%= unProduct.description %>" class="nombre-registro">
                <br>
                <br>
                <label for="camera" class="text-color"> cantidad de MP de la camara principal  </label>
                <br>
                <input type="text" name="camera"  value="<%= unProduct.camera %>" class="nombre-registro" >
                <br>
                <br>    
                <label for="screen" class="text-color"> tama&ntilde;o de pantalla  </label>
                <br>
                <input type="text" name="screen"  value="<%= unProduct.screen %>" class="nombre-registro">
                <br>
                <br>
                <label for="memory" class="text-color"> capacidad de almacenamiento  </label>
                <br>
                <input type="text" name="memory"  value="<%= unProduct.memory %>" class="nombre-registro">
                <br>
                <br>
                <label for="unlocking" class="text-color"> modo de desbloqueo  </label>
                <br>
                <input type="text" name="unlocking"  value="<%= unProduct.unlocking %>" class="nombre-registro" >
                <br>
                <br> 
                              
                <br>
                <br>
                <h4 class="text-color imagen-perfil">agrega una imagen del producto</h4>
                <input type= "file" name="image" id="image" class="imagen-producto">
                <br>
                <br>
                             </div>
    
            </div>  

            <br>
            <br>
        <div>
            <button class="button-enviar" name= "button"><span><i class="fa fa-share-square-o" aria-hidden="true"></i> ENVIAR</span></button> 
            <button class="button-borrar" name= "button"><span><i class="fa fa-trash-o" aria-hidden="true"></i> BORRAR</span></button>
        </div> 
            <br>
            <br>
        </form>
        
        <%- include ('../partials/footer')%>
</body>
</html>