<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head')%>
    <body>
    
        <%- include('../partials/header')%>
       
            
       
        <form action="/products/productEdit/<%=unProduct.id %>?_method=PUT	" method="POST" class= "registerTotal">
            <div class="text-color">
               
                <label for="nombre" class="text-color"> Marca   </label>
                <br>
                <input type="text" name="marca" id="marca" class="nombre-registro" placeholder="<%= unProduct.mark %>" >
                <br>
                <br>
                <label for="nombre" class="text-color"> modelo  </label>
                <br>
                <input type="text" name="name" id="name" class="nombre-registro" placeholder="<%= unProduct.model %>" >
                <br>
                <br>
                <label for="nombre" class="text-color">Descripcion</label>  
                <br>           
                <input type="textarea" name="descripcion" id="Descripcion" class="nombre-registro" placeholder="<%= unProduct.description %>" >
                <br>
                <br>
                <label for="nombre" class="text-color"> precio del producto  </label>
                <br>
                <input type="text" name="price" id="price" class="nombre-registro" placeholder="<%= unProduct.price %>">
                <br>
                <br> 
                <label for="nombre" class="text-color"> cantidad de MP de la camara principal  </label>
                <br>
                <input type="text" name="camara" id="camara" class="nombre-registro" placeholder="<%= unProduct.camera %>" >
                <br>
                <br>    
                <label for="nombre" class="text-color"> modo de desbloqueo  </label>
                <br>
                <input type="text" name="desbloqueo" id="desbloqueo" class="nombre-registro"  placeholder="<%= unProduct.unlocking %>">
                <br>
                <br> 
                <label for="nombre" class="text-color"> tama&ntilde;o de pantalla  </label>
                <br>
                <input type="text" name="pantalla" id="pantalla" class="nombre-registro" placeholder="<%= unProduct.screen %>">
                <br>
                <br>
                <label for="nombre" class="text-color"> capacidad de almacenamiento  </label>
                <br>
                <input type="text" name="memoria" id="memoria" class="nombre-registro" placeholder="<%= unProduct.memory %>" >
                <br>
                <br>
              
                <h4 class="text-color imagen-perfil">agrega una imagen del producto</h4>
                <input type= "file" name="image" id="image" class="imagen-producto">
                <br>               
            </div>  

            <br>
            <br>
        <div>
            <button class="button-enviar" name= "button"><span><i class="fa fa-share-square-o" aria-hidden="true"></i> ENVIAR</span></button> 
            <button class="button-borrar" name= "button"><span><i class="fa fa-trash-o" aria-hidden="true"></i> BORRAR</span></button>
        </div> 
            <br>
            <br>
        </form>
        
        <%- include ('../partials/footer')%>
</body>
</html>