<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head')%>
<body >
   
    <%- include('../partials/header')%>

   
    <main class="main-second">
        <% products.forEach(products =>{ %>
            
            <section class="product-box">
                <a href="/products/detail/<%=products.id%>">
                    <figure class="product-box_image">
                        <img src="/img/products/<%= products.image %> " alt="imagen de producto" width="150px" height="305 px">
                    </figure>
                    <article class="product-box_data">
                        <h2><%=products.Mark.name%> </h2>
                        <h2><%=products.price%></h2>
                        <span>Descuento del <%=products.discount %></span>
                        <p><%=products.model%></p>
                        <i class="fas fa-truck"></i>
                    </article>
                </a>
               
        </section>
        <% }) %> 
        
    </main> 
    <%- include ('../partials/footer')%>
</body>
</html>